
:root{
	--black: #000;
	--white: #fff;
	--theme-color: #2655e4;
	--bg-color:#B9B9B9;
	--text-two:#1A1B1D;
	--bg-grey: #F1F5F9;
}

.main-color {
    color: #0065B0 !important;
}

.second-color {
    color: #3ecd59;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.basic-txt {
    color: #555555;
}

.bg-footer {
    color: #0b1f22;
}

.bg-footer-txt {
    color: #989c9d;
}

.bg-white {
    background-color: #fff;
}

.border-radius-10 {
    border-radius: 10px !important;
}

.border-radius-15 {
    border-radius: 15px !important;
}

.border-radius-20 {
    border-radius: 20px !important;
}

.border-radius-30 {
    border-radius: 30px !important;
}

.border-1 {
    border: 1px solid #ccc;
}

/*Common Css*/
body{
	font-family: 'Plus Jakarta Sans';
}

.heading {
    font-size: 36px;
    line-height: 50px;
    font-weight: 500;
    color: #000;
}

.sub-heading {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: var(--primary);
}

.pragraph {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #797979;
}

.calc-width{width: calc(100% - 500px);}
.main{position: relative;}
section{ padding-bottom:5rem !important; padding-top: 5rem !important;}
a{text-decoration: none;}
ul{list-style: none;padding: 0;margin: 0;}

/*Header*/
header{border-radius: var(--Number, 0px);background: #FFF;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);padding:0;}
header{ position: sticky; top: 0px; z-index: 999;}
header nav .navbar-nav{gap:50px; }
.navbar-expand-lg .navbar-nav .nav-link{padding: 0; color: #404040}
.navbar-light .navbar-nav .nav-link.active{color: var(--theme-color)}
.navbar-light .navbar-nav .nav-link:hover {color: var(--theme-color)}
.navbar-light .navbar-toggler { border: none; }
.navbar-toggler:focus { box-shadow: none; }
.contact-us a {background-color:var(--theme-color); font-size: 18px; padding: 10px 15px; border-radius: 100px; align-items: center; border-color: var(--theme-color); color:#fff; text-wrap-mode: nowrap; display: flex; gap:10px;}
/**********Form************/
.mobile-form-field {display: none;}
.sticky-form{ width: 420px; position: fixed;top: 100px; right: 50px; box-shadow: 0px 24px 50px 0px rgba(0, 0, 0, 0.10);border-radius: 20px; background-color: #F5F5F5; padding: 0; overflow: hidden; z-index: 99; border:1px solid #f9f9f9;}
.form-heading h3 {
    font-size: 28px;
    color: var(--primary);
    font-weight: 500;
}

.form-heading p {
    font-size: 16px;
    color: #797979;
}

form textarea {
    padding: 10px;
    border-color: #a1a1a1;
    height: 120px;
    margin-bottom: 30px;
    border-radius: .5rem !important;
}

form textarea::placeholder {
    color: #BCBCBC;
    font-size: 16px;
    font-weight: lighter;
}

form {
    box-shadow: 0 24px 50px 0 #00000026;
    padding:2rem;
    border-radius: 20px;
}

form input {
    padding: 10px;
    padding: .6rem .75rem !important;
    border-color: #a1a1a1;
    border-radius: .5rem !important;
}

form .react-tel-input .form-control {
    width: 100%;
    border-color: #dddddd;
    margin-top: 20px !important;
    height: auto !important;
}

form .react-tel-input .form-control::placeholder {
    color: #BCBCBC;
    font-size: 16px;
    font-weight: lighter;
}

form input::placeholder {
    color: #BCBCBC;
    font-size: 16px;
    font-weight: lighter;
}

form .form-info { font-size: 14px !important; line-height: 1.5;}
form .form-submit-button button {
    text-decoration: none;
    color: var(--white);
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--theme-color);
    border-radius: 50px;
    border: solid 1px transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    animation: billing-animation 1.5s infinite ease-in-out;
}

form .form-submit-button button:hover {
    color: var(--theme-color);
    background-color: var(--white);
    border-radius: 50px;
    border: 1px solid var(--theme-color);
}
form .form-submit-button button:hover svg {}

/**********Form************/

/*Banner*/
.banner .mobile-button a svg { font-size: 16px; }
.banner .mobile-button a {background-color:var(--theme-color); font-size: 20px; font-weight: 500; padding: 10px 20px; border-radius: 100px; align-items: center; border-color: var(--theme-color); position: fixed; bottom:20px; right:10px; box-shadow: 0px 24px 50px 0px rgba(0, 0, 0, 0.10); overflow: hidden; z-index: 99; display: flex; gap:10px; display: none;
animation: billing-animation 1.5s infinite ease-in-out; border:2px solid #fff;}
/*mobile button animation*/
@keyframes billing-animation {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.05);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  }
}
/*mobile button animation*/

.banner .calc-width{ width: calc(100% - 420px); }
.banner { background: url(../images/banner-bg-img.png); background-repeat: no-repeat; background-position: center center; background-size: cover;}
.banner .content h4{color:var(--theme-color); font-size: 20px; font-style: normal; font-weight: 400; line-height: 100%; 
letter-spacing: 4px; text-transform: uppercase;}
.banner .content h1{color:var(--black-color); font-size: 52px; font-weight: 400; line-height: 66px; }
.banner .content{display: flex;}
.banner .content ul li{margin-bottom: 1.5rem;}
.banner .content ul li .banner-list{ display: flex; align-items: center; background-color: var(--white); box-shadow: 0px 24px 50px 0px rgba(0, 0, 0, 0.10);border-radius: 8px;padding: 10px 20px; min-width: 220px;}
.banner .content ul li .banner-list figure{ flex: 0 30px; max-width: 30px; }
.banner .content ul li .banner-list figcaption{ flex: 1; }
.banner .content ul li .banner-list figcaption h6{ font-size: 14px; font-weight: 700; }
.banner-heading span { background-color: red; padding: .5rem .8rem; color: #fff; border-radius: 50px; font-size: 16px !important; font-weight: 700 !important; text-wrap-mode: nowrap;}
/*.banner-heading::after {
    content: '|';
    display: inline-block;
    animation: blink 0.7s infinite;    
}*/

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.happy-clients { border-left: 2px solid #fff; padding-left: 2rem; }

.happy-clients ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}
.happy-clients ul li img {border: solid 1px #ffffff; width: 30px; height: 30px; border-radius: 50px; transform: scale(1.3);}
.happy-clients-2 {display: flex; align-items: center;
    background-color: #fff; padding: 1rem 1.5rem; border-radius: 100px; gap: 20px; box-shadow: 0 6px 30px 0 #0000001f;}
.happy-clients-2 img {border: solid 1px #fff; width: 60px; height: 60px; border-radius: 50px;}
.happy-clients-text {width: 80%;}
.star-rate {padding-right: 1rem;}
.client-review-section { display: flex; align-items: center; gap:30px; }
/*Banner*/

/*Why hire python*/
.Why-Our-Clients ul {margin: 0px; display: grid; grid-template-columns: repeat(2, 1fr); gap: 30px;}
.Why-Our-Clients li {display: flex; gap: 20px; width: 100%; margin-bottom: 30px;}
.Why-Our-Clients li figure {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #E6F0F8;
    width: 70px;
    height: 70px;
    flex: 0 1 70px;
    padding: 1rem;
}

.Why-Our-Clients li figcaption { flex: 1 1;}
.top-list-position {transform: translateY(-50px);}
.why-python-list-2 {border-radius: 20px; background-color: #fff; box-shadow: 0 24px 50px 0 #0000001a; padding: 2rem;}
.why-python-img {background-image: url(../images/why-python-img.png); background-repeat: no-repeat; background-size: contain; background-position: center center; padding-top: 10rem; display: flex; gap:40px;}

/*Why hire python*/

/* Trusted Brand */
.trusted-brands  {background-color: #f1f1f1;}
.trusted-brands .small-box-img {
    position: relative;
    display: flex;
    width: 100%;
    animation: scrollX 15s linear infinite;
    overflow: hidden;
    white-space: nowrap;
    mask-image: linear-gradient(to left, rgba(254, 254, 254, 0), #000 20%, #000 80%, rgba(254, 254, 254, 0));
}

.trusted-brands .img-item {
    height: inherit;
    flex: auto;
    animation: scrollX 15s linear infinite;
}

.marquee-container {
    width: 100%; 
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .marquee {
    width: 100%;
    display: flex;
    gap: 30px;
    white-space: nowrap;
    animation: scroll-left 15s linear infinite;
  }
  
  @keyframes scroll-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  

.trusted-brands .img-item-1 {
    animation-delay: 0s;
}

.trusted-brands .img-item-2 {
    animation-delay: -5.5s;
}

.trusted-brands .img-item-3 {
    animation-delay: -10s;
}

.trusted-brands .img-item-4 {
    animation-delay: -15.5s;
}

.trusted-brands .img-item-5 {
    animation-delay: -15s;
}

.trusted-brands .img-item-6 {
    animation-delay: -18.5s;
}

.trusted-brands .img-item-7 {
    animation-delay: -20s;
}

.trusted-brands .img-item-8 {
    animation-delay: -25.5s;
}
.trusted-brands .img-item-9 {
    animation-delay: -30.5s;
}
.trusted-brands .img-item-10 {
    animation-delay: -35.5s;
}
.trusted-brands .img-item-11 {
    animation-delay: -40.5s;
}
.trusted-brands .img-item-12 {
    animation-delay: -45.5s;
}
.trusted-brands .img-item-13 {
    animation-delay: -50.5s;
}
.trusted-brands .img-item-14 {
    animation-delay: -55.5s;
}

.trusted-brands .image {
    mask-image: linear-gradient(to bottom, #000 0%, #000 80%, rgba(254, 254, 254, 0) 100%);
}

.trusted-brands .small-box-img {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.trusted-brands img { width: auto; height: 60px; }

/* Trusted Brand */

/*Developers-Your-Requirements*/
.Developers-Your-Requirements .dev-req-img{ overflow: hidden; border-radius: 20px; margin-bottom: 30px; object-fit: cover; height: 300px; }
.Developers-Your-Requirements ul {margin: 0px; display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;}
.Developers-Your-Requirements li {width: 100%; background-color: #fff; padding: 1rem; border-radius: 10px; border: 1px solid #cae1f1;}
.Developers-Your-Requirements figure {width: 50px; height: 50px; border: 1px solid #84bee9; border-radius: 100px; padding: .5rem; display: flex; align-items: center; justify-content: center;}
.Developers-Your-Requirements figure p {font-size: 30px; font-weight: 500; color: #cae7ff;}
/*Developers-Your-Requirements*/

/* Get-in-touch */
.Get-in-touch {background-image: url(../images/Getintouch-bg.png); background-repeat: no-repeat; background-size: cover; background-position: center center;}
.Get-in-touch figure { display: flex; flex: 0 1 35px;}
.Get-in-touch figcaption {flex: 1 1;}
.Get-in-touch .connect-list {display: grid; grid-template-columns: repeat(4, 1fr); gap: 30px;}

/* Get-in-touch */

/* Process-of-Hiring */
.Process-of-Hiring .Process-of-Hiring-list-one {margin: 0px; display: grid; grid-template-columns: repeat(2, 1fr); position: relative;}
.Process-of-Hiring .Process-of-Hiring-list-one li {padding: 1rem 5rem;}
.Process-of-Hiring figure {display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #E6F0F8;
    width: 70px;
    height: 70px;
    flex: 0 1 70px;
    padding: 1rem;}

.Process-of-Hiring .process-design-one{position: relative;}
.Process-of-Hiring .process-design-one::after {content: ''; width: 50%; height: 80%; top: 45px; left: 50%; position: absolute; border-top: 1px dashed #2655e4; z-index: -1;}

.Process-of-Hiring .process-design-three{position: relative;}
.Process-of-Hiring .process-design-three::after {content: ''; width: 100%; height: 238px; top: 56px; left: 0; position: absolute; border-top: 1px dashed #2655e4;
    border-right: none;
    border-bottom: 1px dashed #2655e4;
    border-left: 1px dashed #2655e4;
    border-top-left-radius: 500px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 500px;
    z-index: -1;}

.Process-of-Hiring .process-design-two{position: relative;}
.Process-of-Hiring .process-design-two::after {content: ''; width: 100%; height: 250px; top: 45px; left: 0; position: absolute; border-top: 1px dashed #2655e4;
    border-right: 1px dashed #2655e4;
    border-bottom: 1px dashed #2655e4;
    border-left: none;
    border-top-left-radius: 0;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 0px;
    z-index: -1;
}

.Process-of-Hiring .process-design-six{position: relative;}
.Process-of-Hiring .process-design-six::after {content: ''; width: 50%; height: 80%; top: 55px; left: 0; position: absolute; border-top: 1px dashed #2655e4; z-index: -1;}

.Process-of-Hiring li figure {transition: transform 0.3s ease;}
.Process-of-Hiring li:hover figure {transform: scale(1.20); box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);}
/* Process-of-Hiring */

/*Industries-serve*/
.Industries-serve {background-color: #fff;}
.Industries-serve ul {margin: 0px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 30px;}
.Industries-serve ul li {width: 100%; background-color: #fff; padding: 1.5rem 1rem; border-radius: 10px; border: 1px solid #cae1f1; transition: transform 0.4s ease; display: flex; align-items: center; justify-content: center;}
.Industries-serve li:hover {transform: scale(1.15); box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);}
.Industries-serve li figcaption h5 {font-size: 16px;}
/*Industries-serve*/

/*Thankyou-page*/
.Thankyou-img { background-image: url(../images/popper.gif); background-repeat: no-repeat; background-position: center bottom; margin-bottom: 30px;}
.Go-to-home a {background-color:#fff; font-size: 18px; padding: 10px 30px; border-radius: 100px; align-items: center; border:1px solid var(--theme-color); color:var(--theme-color); text-wrap-mode: nowrap;}
.Go-to-home a:hover {background-color:var(--theme-color); font-size: 18px; padding: 10px 30px; border-radius: 100px; align-items: center; border-color: var(--theme-color); color:#fff; text-wrap-mode: nowrap;}
/*footer*/
footer { background-color: #040c1c; padding-bottom: 60px; padding-top: 60px; }
footer .logo-img {position: relative;}
footer .logo-img:before {content:""; width: 100%; height:2.5%; top:50%; left:0; position: absolute; background-color: #e2e2e25e;}
footer .logo-img a {background-color: #040c1c; z-index: 9; position: relative; padding: 10px; }
footer .footer-links ul { gap:20px; }
footer .footer-links ul li a { text-decoration: none; font-size: 14px; font-weight: 300; color: #666666; }
footer .copy-right{ margin-bottom: 10px; margin-top: 10px; }
footer .copy-right p { font-size: 14px; font-weight: 300; color: #fff;margin-bottom: 0; }
/*footer*/


/*mobile view*/
@media (max-width:1366px) {
	.sticky-form { right: 50px; }
	.Process-of-Hiring .Process-of-Hiring-list-one li {padding: 1rem 3rem;}
	.Process-of-Hiring .process-design-three::after {height: 262px;}
}

@media (max-width:1199px) 
{
	.container{width: 90%;max-width: inherit;}
	.sticky-form{display: block; position: relative; top: inherit; right: inherit !important;     margin: 0 auto;}
	.sticky-form form { padding: 30px; }
	.banner .calc-width, .calc-width{ width: 100%; }
	.modal .sticky-form { display: block; position: relative;top: inherit;right: inherit;width: 100%}
	.cancel-button { position: absolute; right: 10px; top: 10px;  z-index: 999;}
	.Process-of-Hiring .process-design-three::after {height: 214px;}
	.Process-of-Hiring .process-design-two::after {height: 226px;}
	.banner .mobile-button a {display: block;}
	.mobile-form-field {display: block;}
}
@media (max-width:1280px) {
	.sticky-form { right: 20px; }

}
@media (max-width:935px) {
	.Process-of-Hiring .Process-of-Hiring-list-one li {padding: 1rem 2rem;}
}

@media (max-width:991px) {
	header nav .navbar-nav {gap: 30px; margin-top: 20px;}
}

@media (max-width:767px) 
{
	header nav .navbar-nav {gap: 20px; margin-top: 20px;}
	.banner .content {flex-wrap: wrap;}
	.Why-Our-Clients ul {margin: 0px; display: grid; grid-template-columns: repeat(1, 1fr); gap:0px;}
	.Developers-Your-Requirements li { padding: 1rem;}
	.Get-in-touch .connect-list {display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px;}
	.Industries-serve ul {margin: 0px; display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;}
	.Process-of-Hiring .Process-of-Hiring-list-one li {padding: 1rem;}
	.Process-of-Hiring .process-design-three::after {border: none;}
	.Process-of-Hiring .process-design-two::after {border: none;}
	.Process-of-Hiring .process-design-one::after {border: none;}
	.Process-of-Hiring .process-design-six::after {border: none;}
	section { padding-bottom: 3rem !important; padding-top: 3rem !important;}
	.banner .content h1 {font-size: 36px; line-height: 48px;}
	.why-python-img {display: block; padding: 1rem;}
	.top-list-position {transform: translateY(0px);}
	.happy-clients-text {width: 100%;}
	.client-review-section { display: block; }
	.star-rate {margin-bottom: 20px;}
	.Developers-Your-Requirements ul { grid-template-columns: repeat(2, 1fr);}
}

@media (max-width:575px) 
{
	.Personal-Loan .content h3 {line-height: 32px;}
	.Developers-Your-Requirements ul {display: grid; grid-template-columns: repeat(1, 1fr);}
	.Industries-serve ul {margin: 0px; display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px;}
	.Process-of-Hiring .Process-of-Hiring-list-one {display: grid; grid-template-columns: repeat(1, 1fr);}
	.happy-clients { display: block; }
	.why-python-list-2 {padding: 1rem;}
	.heading {font-size: 26px; line-height: 36px;}
	.banner .content h1 {font-size: 28px; line-height: 40px;}
	.banner-heading span {font-size: 14px !important; font-weight: 700 !important; }
}

@media (max-width:480px) 
{
	.banner .content h1 {font-size: 28px; line-height: 38px;}
	.banner .content h4 {font-size: 15px; line-height: 25px;}
	.stat-number {font-size: 20px; margin-bottom: 5px;}
	footer .footer-links ul { gap:10px; }
	footer .footer-links ul li a {justify-content: center; display: flex; }
	.google-review .google-review-img img{ width: 100px; }
	.Get-in-touch .connect-list {display: grid; grid-template-columns: repeat(1, 1fr); gap: 20px;}
	.banner-list figcaption p {font-size: 14px;}
	.banner-list figcaption h6 {font-size: 12px !important;}
	.banner-list figcaption img {width: 50px;}
	.pragraph {font-size: 16px; line-height: 26px;}
	.Get-in-touch .connect-list {gap:10px;}
	.navbar-brand img {width:180px ;}
	.Industries-serve ul li {padding:.8rem;}
	form {padding: 20px;}
	.Process-of-Hiring .Process-of-Hiring-list-one li {padding: 1rem;}
	section { padding-bottom: 2rem !important; padding-top: 2rem !important;}
	.mb-5 {margin-bottom: 2rem !important;}
}

@media (max-width:375px) 
{
	.stat-number {font-size: 22px; margin-bottom: 5px;}
	.banner .content h1 {font-size: 24px; line-height: 34px;}
	.banner .content h4 {font-size: 15px; line-height: 25px;}
	.banner .mobile-button a { font-size: 17px;}
	.google-review h2 { font-size: 24px; line-height: 34px; }
	.stat-number {font-size: 18px; margin-bottom: 5px;}
	.stat-title { font-size: 12px; line-height: 20px;}
	footer .footer-links ul li a { margin: 10px; }
	.banner-list figure { display: none; }
}

form span{ font-size:12px; color:#f00; position:absolute; }